<!DOCTYPE html>
<head>
    <title>Distance</title>
</head>
<body>
<h4>Given Latitude: <id = "ans">{{value[0]}}</h4>
<h4>Given longitude: <id = "ans">{{value[1]}}</h4>
<h4>Distance in miles: <id = "ans">{{value[2]}}</h4>
<h4>Distance in kms: <id = "ans">{{value[3]}}</h4>
<h4>Nearest Pharmacy details:</h4>
<p>[id: <id = "ans">{{value[4]}}, Name: <id = "ans">{{value[5][0]}}, Address: <id = "ans">{{value[5][1]}}, City: <id = "ans">{{value[5][2]}}, State: <id = "ans">{{value[5][3]}}, Zip: <id = "ans">{{value[5][4]}}, Latitude: <id = "ans">{{value[5][5]}}, Longitude: <id = "ans">{{value[5][6]}}]</p>
</body>
</html>
